<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <bean class="by.it.academy.design_bureau.SenderImpl" id="senderImpl"/>
    <bean class="by.it.academy.design_bureau.SenderService" id="senderService">
        <property name="sender" ref="senderImpl"/>
    </bean>
</beans>