<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <bean class="by.it.academy.design_bureau.Meeting" id="meeting"
          p:name="One"/>
    <bean class="by.it.academy.design_bureau.Department" id="department"
          p:departmentName="bureau"/>
    <bean class="by.it.academy.design_bureau.PersonInfo" id="info"
          p:age="31" p:city="Minsk" p:street="minskaya" p:houseNumber="25"/>
    <bean class="by.it.academy.design_bureau.Person" id="person">
        <property name="name" value="Siarhei"/>
        <property name="surname" value="Tsaryk"/>
        <property name="department" ref="department"/>
        <property name="personInfo" ref="info"/>
        <property name="meetings">
            <list value-type="by.it.academy.design_bureau.Meeting">
                <ref bean="meeting"/>
                <bean class="by.it.academy.design_bureau.Meeting" id="meeting2" p:name="Two"/>
                <bean class="by.it.academy.design_bureau.Meeting" p:name="Tree"/>
            </list>
        </property>
    </bean>
</beans>